.register-container{
    background-image: url("C:\login task\frontent\public\bg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.register-form{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}