.register-container{
    background-image: url("C:\Users\NASTAF_12\Desktop\project\Login\frontent\public\bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.register-form{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}